#cam{
   max-height: 80vh;
   border-radius: 10px;
   background-color: #333;
   transform: scaleX(-1);
   max-width: 98%;
   margin: 1%;
}

#cam-box{
    display: flex;
    justify-content: center;
    align-items: center;
}