/*
.large-video{

   height: 80vh;
   border-radius: 10px;
   background-color: #333;
   transform: scaleX(-1);
   width: 100%;
   
}

.small-video{
    position: absolute;
    width: 20%;
    bottom: 10px;
    right: 10px;
   transform: scaleX(-1);
   border-radius: 5px;
   background-color: #aaa;
   z-index: 999;
}


#cam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 10px;
}
*/
#remote{
     background: yellowgreen; 
}

#cam-box {
	display: flex;
	justify-content: space-between;
}

#cam-box video {
	max-height: 30vh;
	max-width: 40%;
	border-radius: 5px;
}

#logs {
	font-family: monospace;
	font-size: 0.7rem;
	padding: 3px;
	word-break: break-all;
}